<div class="p-3 sticky-top bg-white d-flex justify-content-between align-text-top">
  <% if @track.photo.attached? %>
    <%= cl_image_tag @track.photo.key, style:"width: 15%; height: auto; object-fit: contain; object-position: center;", class:"rounded-circle" %>
  <% else %>
    <%= image_tag "logo.jpg", alt: "alttext", style:"height: auto; width: 15%; object-fit: contain; object-position: center", class:"" %>
  <% end %>
  <div class="d-flex flex-column text-right">
    <div class="rounded float-right">
      <%= image_tag "baby.png", alt: "alttext", style:"height: auto; width: 15%; object-fit: contain; object-position: center", class:"rounded-circle" %>
    </div>
    <a>Beginner</a>
  </div>
</div>
<div class="p-3">
  <div class="progress">
    <% @p1 = current_user.subscriptions.where(track: @track).last.chapter_subscriptions.where(read: true).count.to_f %>
    <% @p2 = current_user.subscriptions.where(track: @track).last.chapters.count.to_f %>
    <% @progress = (@p1/@p2*100).round %>
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%= @progress %>%" aria-valuenow="<%= @progress %>" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>
