<%= link_to "<<<", tracks_path %>
<h1><%= @track.title %></h1>
<p><%= @track.description %></p>
<div class="row">
  <div class="col-sm-12 col-md-6">
    <table class="table table-bordered">
      <tbody>
        <thead>
          <th>Title</th>
          <th>Content</th>
        </thead>
        <% @track.chapters.each do |chapter| %>
          <tr>
            <td> <%= chapter.title %>  </td>
            <td> <%= chapter.content %>  </td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </div>
<div>

</div>
