<div class="row vh-100">
  <div class="col-2 bg-white card-chapter">

          <div data-controller="drag" data-drag-url="/tracks/:track_id/chapters/:id/move" class = "table-chapter">
            <% @track.chapters.order(position: :asc).each do |chapter| %>
              <div data-id="<%= chapter.id %>" data-track_id="<%= chapter.track.id %>" class="mb-4 border-0 shadow-none flex-align">
                <% if chapter == @chapter %>
                  <div class="flex-align">
                    <div class = "active-div">
                      <div class="d-flex flex-row">
                           <div class="p-2 chapter-position"> <%= chapter.position %> </div>
                           <div class="p-2 active-chapter-title"> <%= chapter.title %> </div>
                      </div>
                    </div>
                  </div>
                <% else %>
                  <div class="flex-align">
                    <div class = "non-active-div">
                      <div class="d-flex flex-row">
                          <div class="p-2 chapter-position text-align-left"> <%= chapter.position %> </div>
                          <div class="p-2 chapter-title">  <%= link_to chapter.title, edit_track_chapter_path(@track, chapter) %>  </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-dark p-0" style="font-weight:bold; font-size:1.5em; width:40px; height:40px;" data-toggle="modal" data-target="#exampleModalCenter">
      +
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add a new chapter</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= simple_form_for [@track, @chapter_new]  do |f| %>
              <%= f.input :title, label: "Title" %>
          </div>
          <div class="modal-footer">
              <%= f.button :submit, "Add the chapter",  class: "btn btn-primary" %>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>

  <div class="col-6 card">
    <div class= "mx-auto">
      <div class= "mx-auto py-5">
        <%= render 'chapters/edit_chapters_form' %>
      </div>
    </div>
  </div>

  <div class="col-4 card">
    <div class="smartphone">
      <div class="inside-content">
        <%= render 'tracks/edit_preview_header_light' %>
        <% if !@track.chapters.last.nil? %>
          <div class="p-3">
            <div class="d-flex sticky-top py-2" style="background-color: rgba(255,255,255);">
              <div class="back-chapters btn font-weight-bold mr-2" style="color:#FFCD00; font-size:1.5em;">
                <
              </div>
              <h4 style="font-weight: bold;"><%= @chapter.title %></h4>
            </div>
            <div style="text-align: justify; text-justify: word-spacing;">
              <%= @chapter.content %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
